
@{
    ViewBag.Title = "PaginaCuatroFacilidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="shortcut icon" href="favicon.ico">
<!-- Animate.css -->
<link rel="stylesheet" href="~/css-facilidades/animate.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="~/css-facilidades/bootstrap.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="~/css-facilidades/icomoon.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="~/css-facilidades/paginacion.css">
<!-- Theme style  -->
<link rel="stylesheet" href="~/css-facilidades/style.css">

<link rel="stylesheet" href="~/css-facilidades/magnific-popup.css">

<div id="fh5co-wrap">
    <div class="fh5co-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/page_4.1.jpg" width="400" height="400" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <h2>Canchas de Tenis</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
                </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/page_4.2.jpg" width="400" height="400" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <h2>Zonas temáticas infantiles</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
                </div>

            </div>
        </div>
    </div>
    <section class="paginacion">
        <ul>
            <li class="disabled"><a href="@Url.Action("PaginaTresFacilidades", "Facilidades")" class="disabled">&laquo;</a></li>
            <li><a href="@Url.Action("PaginaUnoFacilidades", "Facilidades")" class="active">1</a></li>
            <li><a href="@Url.Action("PaginaDosFacilidades", "Facilidades") ">2</a></li>
            <li><a href="@Url.Action("PaginaTresFacilidades", "Facilidades")">3</a></li>
            <li><a href="@Url.Action("PaginaCuatroFacilidades", "Facilidades")">4</a></li>

        </ul>
    </section>
</div>
